* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

.titulo-destaque {
  color: #ffffff;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagem__logo {
  border-radius: 40px;
}

.logo__logos__links {
  display: flex;
  justify-content: flex-end;
}

.logo__logos__links__link {
  background-color: #ffffff;
  width: 180px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
}

.apresentacao {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  text-align: center;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  text-align: center;
}

.imagem__cliente {
  border-radius: 30px;
  width: 50%;
  margin: auto;
  display: block;
}

#sobre {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.sobre__apresentacao {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sobre__apresentacao__sobre {
  font-size: 30px;
  text-align: center;
}

.sobre__apresentacao__texto {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  width: 90%;
}

.imagem__barbeiros {
  border-radius: 30px;
  width: 25%;
  margin: auto;
  display: block;
}

#servicos {
  display: flex;
  justify-content: center;
  padding: 2%;
  flex-direction: column;
  align-items: center;
}

.servicos__1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servicos__1__item {
  margin: 80px;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  height: 250px;
  width: 200px;
  align-items: center;
}

.servicos__1__texto {
  font-weight: 500;
  font-size: 20pt;
}

.servicos__1__wrapper {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.servicos__1__valor {
  font-size: 20pt;
  color: #000000;
}

.servicos__1__valores {
  display: flex;
  flex-direction: column;
}

.servicos__1__valores span {
  margin-bottom: 1rem;
}

.servicos__descricao {
  text-align: left;
  margin-left: 3%;
}
